@charset "UTF-8";


*{
padding: 0;
margin: 0;
box-sizing: 0;

}

body{
background-color: rgb(62, 217, 152);
color: rgb(53, 53, 53);
}

h1{
margin: 5px;

}

section{
position: relative;
top: 15px;
left: 5px;
}

